<form (submit)="ok()">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Merge Document</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action" [ngClass]="{ active: document === selected }" *ngFor="let document of documents" (click)="select(document)">
        <div class="fw-bold">{{ document.name }}</div>
        <small>{{ document.directory }}</small>
      </button>
      <button type="button" class="list-group-item list-group-item-action" *ngIf="documents.length == 0" disabled>No documents to show</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!selected">Merge</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  </div>
</form>
