@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.navbar {
  --bs-navbar-padding-x: 1rem;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.logo-1 {
  background-color: #f4473a;
  border-radius: 5px;
  color: #fff;
  padding: 0.25em 0.5em;
  font-weight: bold;
}

.logo-2 {
    
}

.nav-divider {
  line-height: 0em;
  margin: 10px 0 20px;
  border-bottom: 1px solid var(--bs-gray-300);

  span {
    background: var(--bs-white);
    padding: 0 10px 0 2px;
    font-size: 0.875em;
    text-transform: uppercase;
  }
}

.navbar-dark {
  .nav-divider {
    border-bottom: 1px solid var(--bs-gray-800) !important;

    span {
      background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
      color: var(--bs-secondary) !important;
    }
  }
}


.nav-search {
    width: 50%;
}

#search::placeholder {
  /*color: white;*/
}

@include media-breakpoint-up(lg) {
  .mobile-nav {
    display: none !important;
  }
}
