<form (submit)="ok()">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'merge.title' | translate }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="mb-3">
      <input class="form-control" name="search" placeholder="{{ 'merge.search' | translate }}" [(ngModel)]="search" auto-focus>
    </div>

    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action" [ngClass]="{ active: document === selected }" *ngFor="let document of documents | search: search : 'name'" (click)="select(document)">
        <div class="fw-bold">{{ document.name }}</div>
        <small>{{ document.directory }}</small>
      </button>
      <button type="button" class="list-group-item list-group-item-action" *ngIf="documents.length == 0" disabled>No documents to show</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!selected">{{ 'merge.buttons.merge' | translate }}</button>
    <button type="button" class="btn btn-secondary" (click)="close()">{{ 'merge.buttons.close' | translate }}</button>
  </div>
</form>
