<form (submit)="ok()">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <ul ngbNav #nav="ngbNav" class="nav nav-pills nav-fill">
      <li ngbNavItem>
        <a ngbNavLink>General</a>
        <ng-template ngbNavContent>

          <div class="mt-3 mb-3">
            <label for="default-folder" class="form-label">Default Folder</label>
            <select name="default-folder" id="default-folder" class="form-select" [(ngModel)]="config.generalConfig.defaultFolder">
              <option *ngFor="let folder of folders" [value]="folder.value">{{ folder.label }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="default-sort-column" class="form-label">Default Sort Column</label>
            <select name="default-sort-column" id="default-sort-column" class="form-select" [(ngModel)]="config.generalConfig.defaultSortColumn">
              <option *ngFor="let column of sortColumns" [value]="column.value">{{ column.label }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="default-sort-direction" class="form-label">Default Sort Direction</label>
            <select name="default-sort-direction" id="default-sort-direction" class="form-select" [(ngModel)]="config.generalConfig.defaultSortDirection">
              <option *ngFor="let direction of sortDirection" [value]="direction.value">{{ direction.label }}</option>
            </select>
          </div>

          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" name="enable-tour" id="enable-tour" [(ngModel)]="config.generalConfig.enableTour">
            <label class="form-check-label" for="enable-tour">Enable Tour</label>
          </div>

        </ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Previews</a>
        <ng-template ngbNavContent>

          <div class="mt-3 mb-3">
            <label for="default-size" class="form-label">Default Size</label>
            <select name="default-size" id="default-size" class="form-select" [(ngModel)]="config.previewConfig.defaultSize">
              <option *ngFor="let size of sizes" [value]="size.value">{{ size.label }}</option>
            </select>
          </div>

          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" name="show-page-number" id="show-page-number" [(ngModel)]="config.previewConfig.showPageNumber">
            <label class="form-check-label" for="show-page-number">Show Page Number</label>
          </div>

        </ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Directories</a>
        <ng-template ngbNavContent>

          <ngb-accordion [closeOthers]="true" activeIds="input" class="mt-3">
            <ngb-panel id="input" title="Input">
              <ng-template ngbPanelContent>

                <div class="form-check form-switch mt-3 mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-save-to" id="show-save-to" [(ngModel)]="config.inputConfig.showSaveTo">
                  <label class="form-check-label" for="show-save-to">Show Save To</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-save" id="show-save" [(ngModel)]="config.inputConfig.showSave">
                  <label class="form-check-label" for="show-save">Show Save</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-revert" id="show-revert" [(ngModel)]="config.inputConfig.showRevert">
                  <label class="form-check-label" for="show-revert">Show Revert</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-download" id="show-download" [(ngModel)]="config.inputConfig.showDownload">
                  <label class="form-check-label" for="show-download">Show Download</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-delete" id="show-delete" [(ngModel)]="config.inputConfig.showDelete">
                  <label class="form-check-label" for="show-delete">Show Delete</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-rename" id="show-rename" [(ngModel)]="config.inputConfig.showRename">
                  <label class="form-check-label" for="show-rename">Show Rename</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-merge" id="show-merge" [(ngModel)]="config.inputConfig.showMerge">
                  <label class="form-check-label" for="show-merge">Show Merge</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-split" id="show-split" [(ngModel)]="config.inputConfig.showSplit">
                  <label class="form-check-label" for="show-split">Show Split</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-remove" id="show-remove" [(ngModel)]="config.inputConfig.showRemove">
                  <label class="form-check-label" for="show-remove">Show Remove</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-rotate-clockwise" id="show-rotate-clockwise" [(ngModel)]="config.inputConfig.showRotateClockwise">
                  <label class="form-check-label" for="show-rotate-clockwise">Show Rotate Clockwise</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-rotate-anti-clockwise" id="show-rotate-anti-clockwise" [(ngModel)]="config.inputConfig.showRotateAntiClockwise">
                  <label class="form-check-label" for="show-rotate-anti-clockwise">Show Rotate Anti-Clockwise</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-select-all" id="show-select-all" [(ngModel)]="config.inputConfig.showSelectAll">
                  <label class="form-check-label" for="show-select-all">Show Select All</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-unselect" id="show-unselect" [(ngModel)]="config.inputConfig.showUnselect">
                  <label class="form-check-label" for="show-unselect">Show Unselect</label>
                </div>

                <hr />

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="delete-original-file-on-save" id="delete-original-file-on-save" [(ngModel)]="config.inputConfig.deleteOriginalFileOnSave">
                  <label class="form-check-label" for="delete-original-file-on-save">Delete Original File On Save</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="move-files-to-trash-on-delete" id="move-files-to-trash-on-delete" [(ngModel)]="config.inputConfig.moveFilesToTrashOnDelete">
                  <label class="form-check-label" for="move-files-to-trash-on-delete">Move Files To Trash On Delete</label>
                </div>

              </ng-template>
            </ngb-panel>
            <ngb-panel id="output" title="Output">
              <ng-template ngbPanelContent>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-restore" id="show-restore" [(ngModel)]="config.outputConfig.showRestore">
                  <label class="form-check-label" for="show-restore">Show Restore</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-download" id="show-download" [(ngModel)]="config.outputConfig.showDownload">
                  <label class="form-check-label" for="show-download">Show Download</label>
                </div>

              </ng-template>
            </ngb-panel>
            <ngb-panel id="trash" title="Trash">
              <ng-template ngbPanelContent>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-restore" id="show-restore" [(ngModel)]="config.trashConfig.showRestore">
                  <label class="form-check-label" for="show-restore">Show Restore</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-download" id="show-download" [(ngModel)]="config.trashConfig.showDownload">
                  <label class="form-check-label" for="show-download">Show Download</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="show-delete" id="show-delete" [(ngModel)]="config.trashConfig.showDelete">
                  <label class="form-check-label" for="show-delete">Show Delete</label>
                </div>

                <hr />

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" role="switch" name="permenently-delete-deleted-documents" id="permenently-delete-deleted-documents" [(ngModel)]="config.trashConfig.permenentlyDeleteDeletedDocuments">
                  <label class="form-check-label" for="permenently-delete-deleted-documents">Permenently Delete Deleted Documents</label>
                </div>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>

  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-secondary me-auto" (click)="reloadConfiguration()">Reload Configuration</button>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
  </div>
</form>
