<document *ngFor="let document of filteredDocuments"
          [document]="document"
          [documents]="documents"
          [config]="config"
          [size]="size"
          [directory]="directory"
          [directoryStructure]="directoryStructure"
          (onNewDocument)="newDocumentEvent($event)"
          (onReplaceDocument)="replaceDocEvent($event)"
          (onRemoveDocument)="removeDocEvent($event)"></document>

<div *ngIf="!documentsLoaded" class="text-center text-muted mt-5">
  Loading...
</div>

<div *ngIf="documentsLoaded && filteredDocuments.length == 0" class="text-center text-muted mt-5">
  No documents found
</div>
