<document *ngFor="let document of filteredDocuments"
          [document]="document"
          [documents]="documents"
          [config]="config"
          [size]="size"
          [directory]="directory"
          (onNewDocument)="newDocumentEvent($event)"
          (onReplaceDocument)="replaceDocEvent($event)"
          (onRemoveDocument)="removeDocEvent($event)"></document>

<div *ngIf="!documentsLoaded" class="text-center text-muted mt-5">
  {{ 'shared.loading' | translate }}
</div>

<div *ngIf="documentsLoaded && filteredDocuments.length == 0" class="text-center text-muted mt-5">
  {{ 'shared.noDocumentsFound' | translate }}
</div>

<div class="footer-padding" *ngIf="alwaysShowFooter || hasDocumentsSelected()">
  <!-- Leave space for footer to fill in so it doesnt cover the last document -->
</div>

<footer *ngIf="alwaysShowFooter || hasDocumentsSelected()"
        [documents]="documents"
        [config]="config"
        [directory]="directory"
        (onDocumentChanges)="batchDocumentChanges($event)"></footer>
