<form (submit)="ok()">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'directoryPicker.title' | translate }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="list-group breadcrumb-container">
      <div class="list-group-item list-group-item-secondary">
        <ol class="breadcrumb" *ngIf="pickerMode == pickerModes.Outbox">
          <li class="breadcrumb-item" aria-current="page">{{ 'directoryPicker.outbox' | translate }}</li>
          <li class="breadcrumb-item" aria-current="page" *ngFor="let segment of currentPath">{{ segment.name }}</li>
        </ol>

        <ol class="breadcrumb" *ngIf="pickerMode == pickerModes.Favourites">
          <li class="breadcrumb-item" aria-current="page">{{ 'directoryPicker.favourites' | translate }}</li>
        </ol>

        <ol class="breadcrumb" *ngIf="pickerMode == pickerModes.History">
          <li class="breadcrumb-item" aria-current="page">{{ 'directoryPicker.history' | translate }}</li>
        </ol>
      </div>
    </div>

    <div class="row directory-container">
      <div class="col-3">
        <div class="list-group locations-list">
          <button type="button" class="list-group-item list-group-item-action" (click)="setPickerMode(pickerModes.Outbox)" [class.active]="pickerMode == pickerModes.Outbox">
            <i class="bi bi-house-fill"></i>{{ 'directoryPicker.outbox' | translate }}
          </button>

          <button type="button" class="list-group-item list-group-item-action" (click)="setPickerMode(pickerModes.Favourites)" [class.active]="pickerMode == pickerModes.Favourites">
            <i class="bi bi-star-fill"></i>{{ 'directoryPicker.favourites' | translate }}
          </button>

          <button type="button" class="list-group-item list-group-item-action" (click)="setPickerMode(pickerModes.History)" [class.active]="pickerMode == pickerModes.History">
            <i class="bi bi-clock-history"></i>{{ 'directoryPicker.history' | translate }}
          </button>
        </div>

        <div class="list-group location-options-list mt-4">
          <li class="list-group-item">
            <input class="form-check-input" type="checkbox" name="show-files" id="show-files" [(ngModel)]="showFiles" (ngModelChange)="updateShowFilesDefault($event)" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" for="show-files">{{ 'directoryPicker.showFiles' | translate }}</label>
          </li>
        </div>
      </div>

      <div class="col">

        <!-- Outbox -->
        <div class="list-group" *ngIf="pickerMode == pickerModes.Outbox">
          <button type="button" class="list-group-item list-group-item-action"
                  *ngIf="currentPath.length > 0"
                  (click)="up()">
            {{ 'directoryPicker.up' | translate }}
          </button>

          <div class="list-group-item sub-list" *ngFor="let folder of sortBy(currentDirectoryFolders, 'name')">
            <div class="list-group list-group-horizontal list-group-flush">
              <button type="button" class="list-group-item list-group-item-action" (click)="setFolder(folder)">
                <i class="bi bi-folder path-icon"></i> {{ folder.name }}
              </button>

              <button type="button" class="list-group-item list-group-item-action favourite-button"
                      *ngIf="isFavourite(folder)"
                      (click)="removeFromFavourites(folder)"
                      placement="bottom" ngbTooltip="{{ 'directoryPicker.removeFromFavourites' | translate }}" container="body">
                <i class="bi bi-star-fill"></i>
              </button>

              <button type="button" class="list-group-item list-group-item-action favourite-button"
                      *ngIf="!isFavourite(folder)"
                      (click)="addToFavourites(folder)"
                      placement="bottom" ngbTooltip="{{ 'directoryPicker.addToFavourites' | translate }}" container="body">
                <i class="bi bi-star"></i>
              </button>
            </div>
          </div>

          <ng-container *ngIf="showFiles">
            <div class="list-group-item sub-list" *ngFor="let file of sortBy(folderFiles, 'name')">
              <div class="list-group list-group-horizontal list-group-flush">
                <button type="button" class="list-group-item list-group-item-action" disabled>
                  <i class="bi bi-filetype-pdf path-icon"></i> {{ file.name }}
                </button>

                <button type="button" class="list-group-item list-group-item-action favourite-button"
                        (click)="download(file)"
                        placement="bottom" ngbTooltip="{{ 'directoryPicker.download' | translate }}" container="body">
                  <i class="bi bi-download"></i>
                </button>

                <button type="button" class="list-group-item list-group-item-action favourite-button"
                        (click)="name = file.name"
                        placement="bottom" ngbTooltip="{{ 'directoryPicker.copyName' | translate }}" container="body">
                  <i class="bi bi-input-cursor-text"></i>
                </button>
              </div>
            </div>
          </ng-container>

          <button type="button" class="list-group-item list-group-item-action"
                  *ngIf="currentDirectoryFolders.length == 0 && folderFiles.length == 0"
                  disabled>
            {{ 'directoryPicker.noFolders' | translate }}
          </button>
        </div>

        <button type="button" class="btn btn-secondary float-end after-list-button" (click)="createDirectory()" *ngIf="pickerMode == pickerModes.Outbox">
          {{ 'directoryPicker.buttons.addDirectory' | translate }}
        </button>

        <!-- Favourites -->
        <div class="list-group" *ngIf="pickerMode == pickerModes.Favourites">
          <div class="list-group-item sub-list" *ngFor="let path of sortFavourites(favourites)">
            <div class="list-group list-group-horizontal list-group-flush">
              <button type="button" class="list-group-item list-group-item-action" (click)="setFolderByPath(path)">
                <div>
                  <i class="bi bi-folder path-icon"></i> {{ getFavouriteName(path) }}
                </div>
                <small class="text-muted">{{ getFavouriteContainingFolder(path) }}</small>
              </button>

              <button type="button" class="list-group-item list-group-item-action favourite-button"
                      (click)="removeFromFavouritesByPath(path)"
                      placement="bottom" ngbTooltip="{{ 'directoryPicker.removeFromFavourites' | translate }}" container="body">
                <i class="bi bi-star-fill"></i>
              </button>
            </div>
          </div>

          <button type="button" class="list-group-item list-group-item-action"
                  *ngIf="favourites.length == 0"
                  disabled>
            {{ 'directoryPicker.noFolders' | translate }}
          </button>
        </div>

        <!-- History -->
        <div class="list-group" *ngIf="pickerMode == pickerModes.History">
          <div class="list-group-item sub-list" *ngFor="let path of history?.reverse()">
            <div class="list-group list-group-horizontal list-group-flush">
              <button type="button" class="list-group-item list-group-item-action" (click)="setFolderByPath(path)">
                <div><i class="bi bi-folder path-icon"></i> {{ getFavouriteName(path) }}</div>
                <small class="text-muted">{{ getFavouriteContainingFolder(path) }}</small>
              </button>

              <button type="button" class="list-group-item list-group-item-action favourite-button" (click)="removeFromHistory(path)">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>

          <button type="button" class="list-group-item list-group-item-action"
                  *ngIf="history.length == 0"
                  disabled>
            {{ 'directoryPicker.noFolders' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="row name-container" *ngIf="showNameEditor">
      <div class="col">
        <div class="input-group">
          <span class="input-group-text" id="name-addon">{{ 'directoryPicker.documentName' | translate }}</span>
          <input type="text" class="form-control" placeholder="{{ 'directoryPicker.documentName' | translate }}" aria-label="Document Name" aria-describedby="name-addon" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="pickerMode != pickerModes.Outbox">{{ 'directoryPicker.buttons.save' | translate }}</button>
    <button type="button" class="btn btn-secondary" (click)="close()">{{ 'directoryPicker.buttons.close' | translate }}</button>
  </div>
</form>
