.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb-container,
.directory-container {
  margin-bottom: 20px;
}

.locations-list,
.location-options-list {

    .bi,
    .form-check-input {
        margin-right: 10px;
    }
}

.sub-list {
    padding: 0;

    .list-group-item {
        border: 0;
    }

    .favourite-button {
        width: 50px;
    }
}

.path-icon {
    padding-right: 5px;
}

.after-list-button {
    margin-top: 10px;
}
