<div class="row">

  <div class="col" [ngClass]="colourMode == 'light' ? '' : 'dark'">
    <div class="card mb-3">
      <div class="card-header">
        <div class="form-check">
          <input class="form-check-input me-2" type="checkbox" [(ngModel)]="document.selected">
          <label class="form-check-label fw-bold d-inline-block" (click)="document.selected = !document.selected">
            {{ document.name }}
          </label>
          <small class="directory">{{ document.directory }}</small>
        </div>
      </div>
      <div class="card-body" *ngIf="{ corrupt: document.corrupt | async, passwordProtected: document.passwordProtected | async } as docStatus">

        <ng-scrollbar #toolbarScrollbar [autoHeightDisabled]="false" track="horizontal" class="scrollbar toolbar-scrollbar" [class.scrollbar-visible]="toolbarScrollable" style="height: 50px" (updated)="onToolbarScrollbarUpdate(toolbarScrollbar.state)">
          <div #toolbarScrollWrapper class="scrolling-wrapper">
            <toolbar *ngIf="!docStatus.corrupt && !docStatus.passwordProtected && directory == targetDirectories.Inbox" [buttons]="inboxButtons" [config]="config"></toolbar>
            <toolbar *ngIf="directory == targetDirectories.Outbox" [buttons]="outboxButtons" [config]="config"></toolbar>
            <toolbar *ngIf="directory == targetDirectories.Archive" [buttons]="archiveButtons" [config]="config"></toolbar>
            <toolbar *ngIf="docStatus.corrupt && !docStatus.passwordProtected && directory == targetDirectories.Inbox" [buttons]="corruptButtons" [config]="config"></toolbar>
            <toolbar *ngIf="!docStatus.corrupt && docStatus.passwordProtected && directory == targetDirectories.Inbox" [buttons]="passwordProtectedButtons" [config]="config"></toolbar>
          </div>
        </ng-scrollbar>

        <ng-scrollbar #documentScrollbar [autoHeightDisabled]="false" track="horizontal" class="scrollbar pages-scrollbar" [class.scrollbar-visible]="documentScrollable" (updated)="onDocumentScrollbarUpdate(documentScrollbar.state)">
          <div #documentScrollWrapper *ngIf="!docStatus.corrupt && !docStatus.passwordProtected" class="scrolling-wrapper" [class]="size | async" [style.height]="maxPreviewHeight > 0 ? (maxPreviewHeight + 'px !important') : null">
            <pages [pages]="document.pages"
                   [document]="document"
                   [size]="size"
                   [config]="config"
                   [resetDocumentPreview]="resetDocumentPreview.asObservable()"
                   (onSelectionChange)="selectionChanged($event);"
                   (onMaxPreviewSizeChange)="updatePreviewSize($event);"
                   (onPageOrderChange)="reorder($event);"></pages>
          </div>
        </ng-scrollbar>

        <div *ngIf="docStatus.corrupt">
          <div class="alert alert-danger" role="alert">
            <span>{{ 'documents.messages.corrupt' | translate }}</span> <span *ngIf="document.canRevertChanges"> {{ 'documents.messages.corruptHelp' | translate }}</span>
          </div>
        </div>

        <div *ngIf="docStatus.passwordProtected">
          <div class="alert alert-warning" role="alert">
            {{ 'documents.messages.passwordProtected' | translate }}
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
