<div class="row mb-3">
  <div class="col">

    <div class="btn-group me-3">
      <div class="btn-group" ngbDropdown role="group">
        <button type="button" class="btn btn-secondary" ngbDropdownToggle>{{ sort }}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="setSort('Name')">Name</button>
          <button ngbDropdownItem (click)="setSort('Created')">Created</button>
          <button ngbDropdownItem (click)="setSort('Last Modified')">Last Modified</button>
        </div>
      </div>
      <div class="btn-group" ngbDropdown role="group">
        <button type="button" class="btn btn-secondary" ngbDropdownToggle>{{ sortDirection }}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="setSortDirection('Asc')">Asc</button>
          <button ngbDropdownItem (click)="setSortDirection('Desc')">Desc</button>
        </div>
      </div>
    </div>

  </div>

  <div class="col text-center">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="size" id="size-small" value="small" autocomplete="off" [(ngModel)]="size">
      <label class="btn btn-outline-primary" for="size-small">Small</label>

      <input type="radio" class="btn-check" name="size" id="size-medium" value="medium" autocomplete="off" [(ngModel)]="size">
      <label class="btn btn-outline-primary" for="size-medium">Medium</label>

      <input type="radio" class="btn-check" name="size" id="size-large" value="large" autocomplete="off" [(ngModel)]="size">
      <label class="btn btn-outline-primary" for="size-large">Large</label>
    </div>
  </div>

  <div class="col">
    <button type="button" class="btn btn-success float-end">Save All</button>
  </div>
</div>


<div *ngFor="let document of documents" class="row">

  <div class="col">
    <div class="card mb-3">
      <div class="card-header">
        <strong>{{ document.name }}</strong>
      </div>
      <div class="card-body">

        <div class="toolbar">
          <button type="button" class="btn btn-light">Rotate</button>
          <button type="button" class="btn btn-light">Remove</button>
        </div>

        <div class="scrolling-wrapper" [class]="size">
          <ng-container *ngFor="let page of document.pages">
            <div class="thumb-container" (click)="setActive(document, page, $event)">
              <img [src]="page.data" class="thumb" [class.active]="page.active" />
              <div class="page-number">{{ page.number }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>
